<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
To REMOVE: sudo launchctl unload /Library/LaunchDaemons/com.ozdaddydaycare.apptimer_daily_timer.plist
To check if background process is running: sudo launchctl list | grep com.ozdaddydaycare.apptimer_daily_timer
Or can check using: sudo launchctl print system/com.ozdaddydaycare.apptimer_daily_timer
-->
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ozdaddydaycare.apptimer_daily_timer</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Application Support/OzDaddyDayCare/appTimer/apptimer.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/lib/ozdaddydaycare_apptimer/apptimer.log</string>
    <key>StandardErrorPath</key>
    <string>/var/lib/ozdaddydaycare_apptimer/apptimer_error.log</string>
</dict>
</plist>
